
body{	
	font-family:"Trebuchet MS", Helvetica, sans-serif;	
	background-image:url(http://www.proecuador.gob.ec/sectores/cafe/img/CAFE11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h2{
	margin:0;	
	text-align:center;
	margin-bottom:5px;
}

.demo-table {   
	border-collapse:collapse;
	border:1px;
	width:100%;
}

.table-button {
	border: 1px solid #666; 
	border-radius: 5px; 	
	font-size: 12px;
	
	width: 70px; 
	padding: 5px 10px;	
	margin-bottom: 2px;
	background: #cccccc;
}

.form-container label{
	width:25px;
	
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  display: inline-block;
}
 
 
.demo-table-header {
	border-bottom:1px solid gray;
	background:none repeat scroll 0 0 ;
	padding:10px;
}

.form-container .login-text {
    width: 130px;
    float: right;
}
 
.demo-table-odd-row {
	border-top:1px solid gray;
	background:none repeat scroll 0 0 #FFFFFFF;
	text-align:center;
}
 
.demo-table-even-row {
	border-top:1px solid gray;
	background:none repeat scroll 0 0 #D0D0D0;
	text-align:center;
}



#header-table {
	width: 100%; 
	background: #b30f0f; 
	margin-top: 0px; 
	margin-bottom: 15px;
	padding:15px 0px 15px 0px; 
	text-align:center
}

.container {
	padding:20px 25px;
	background: rgba(250,250,250, 0.85);
	height:auto;
	overflow:auto;
	
}

.container-table {
	padding:20px 25px;
	background: rgba(250,250,250, 0.85);
}


.add-student-button {
	border: 1px solid #666; 
	border-radius: 5px; 	
	font-size: 12px;
	font-weight: bold;
	width: 120px; 
	padding: 5px 10px; 
	margin-left:25%;
	margin-bottom: 2px;
	background: #cccccc;
}

.add-button {
	border: 1px solid #666; 
	border-radius: 5px; 	
	font-size: 12px;
	font-weight: bold;
	width: 150px; 
	padding: 5px 10px; 
	margin-left:25%;
	margin-bottom: 4px;
	background: #cccccc;
}